[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biocroxytest"]
	path = biocroxytest
	url = https://github.com/xec-cm/biocroxytest
